* {
    margin: 0;
    padding: 0;
    border: 0;
}
ul {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 35%;
    color: rgb(255, 255, 255);
    text-align: justify;
    font-family: "Azonix";
}
.navbar{
    overflow: hidden;
    background-color: rgb(218, 195, 65);
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Azonix';
}
.navbar a:hover {
    background: #ddd;
    color: black;
}
.margin {
    margin: 0% 0;
    margin-top: 30px;
}
.parallax {
    background: url("../IMG/pict-bg.jpg") repeat fixed 100%;
}
.parallax-2 {
    background: url("../IMG/brick-wall-bnw.jpg") repeat fixed 100%;
}
.parallax-3 {
    background: url("../IMG/gray-bg.jpg") repeat fixed 100%;
}
.parallax-inner {
    padding-top: 15%;
    padding-bottom: 15%;
}
.title-text {
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    font-family: 'Azonix';
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 4em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
}
.image-handler {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 35%;
  }
.quote {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "Azonix";
}
.paraf-1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Azonix";
}
.sub-title {
    color: white;
    text-align: center;
    font-family: "Azonix";
}
.job-table {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 45%;
    border-radius: 35%;
    color: rgb(255, 255, 255);
    text-align: justify;
    font-family: "Azonix";
}
table.skill-sub {
    font-family: fantasy;
    font-weight: bold;
    color: royalblue;
}
table.skill-main {
    margin: auto;
    width: 20%;
    border: 2px solid rgb(218, 195, 65);
    padding: 10px;
}
form.form-example {
    display: table;
    margin: auto;
}
div.form-example {
    display: table-row;
}
label {
    color: white;
    font-family: "Azonix";
}
h2.center {
    text-align: center;
    color: white;
    font-family: "Azonix";
    margin: auto;
    width: 100%;
    border: 2px solid rgb(218, 195, 65);
    padding: 10px;
    background-color: rgb(218, 195, 65);
}
h5 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Azonix";
}
.video-player {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}